pank
.ccls-cache
gmon.out
dist/
cpank.perf
perf.data
perf.data.old
test_cpank
testpankti
pankti
panktiw
pankti.sha512
pankti.asc
pankti.sig
cpank.gmon.txt
*.callgraph.dot
vgcore.*
.cache/*
massif.out.*
zig-cache/
# Prerequisites
*.d
build/
*.backup
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/

!cpank/ext/iup/iup.manifest.obj 
!cpank/ext/iup/iup64.manifest.obj
